div {
    display: inline-block;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: aqua;
}
.NewBook {
    background-color: green;
   
    }
button {
    background-color: red;
}