.original {
            display: inline-block; 
            text-align: center; 
            border: 1px solid black;
            margin-left: 20%;
            padding: 100px;
            background-color: aqua;
            border-radius: 10px;
        }
.edit {
            display: inline-block; 
            text-align: center; 
            border: 1px solid black;
            margin-left: 5%;
            padding: 100px;
            background-color: lightgreen;
            border-radius: 10px;
        }